*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:#fff;
}

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */
.sidebar{
    width:260px;
    background:#111c2d;
    padding:20px;
}

.logo{
    margin-bottom:20px;
    text-align:center;
}

.card{
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
}

.card h3{
    margin-bottom:10px;
}

.card button{
    padding:8px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.red{ background:#b31217; }
.orange{ background:#f7971e; }
.blue{ background:#1e3c72; }

/* Main */
.main{
    flex:1;
    padding:20px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.hero{
    background:#162447;
    padding:40px;
    border-radius:15px;
    margin-bottom:30px;
    text-align:center;
}

.hero h2{
    font-size:40px;
    color:#00ffcc;
}

.cards{
    display:flex;
    gap:20px;
}

.info-card{
    flex:1;
    background:#1f4068;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.info-card button{
    margin-top:15px;
    padding:10px 15px;
    border:none;
    border-radius:6px;
    background:#00c6ff;
    cursor:pointer;
    color:#000;
}
